
// primary beerApp colors

$color-black: #000;
$color-white: #fff;
$color-grey: #555;
$color-blue: #267F7F;

// secondary colors

$color-secondary-black: #333;

// tertiary colors

$color-tertiary-black: #000;