$klavika: Klavika, sans-serif;
$corbel: Corbel, sans-serif;
$corbel-regular: Corbel W01 Regular, sans-serif;
$corbel-bold: Corbel W01 Bold, sans-serif;
$corbel-italic: Corbel W01 Italic, sans-serif;
$corbel-bold-italic: Corbel W01 Bold Italic, sans-serif;

$font-campton-book: Campton Book, sans-serif;
$font-campton-medium: Campton Medium, sans-serif;
$font-campton-semibold: Campton SemiBold, sans-serif;

// Redesign

$font-base  : "Helvetica Neue", "Helvetica", "Arial", sans-serif;
