@charset "UTF-8";
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: inherit;
  /* 1 */ }

b,
strong {
  font-weight: bolder;
  /* 2 */ }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Restore focus style in Firefox 4+ (unset by a rule above)
 */
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * Address `appearance` set to `searchfield` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Restore font weight (unset by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Changing Susy default global settings */
/* Makes border-box properties */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrap {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }
  head {
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 999;
    color: #333;
    background: rgba(255, 255, 255, 0.25); }
  head:before {
    content: "|||";
    display: block;
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold; }
  head:hover {
    background: rgba(255, 255, 255, 0.5);
    color: red; }
  head:hover ~ .wrap,
  head:hover ~ body .wrap {
    position: relative; }
    head:hover ~ .wrap:before,
    head:hover ~ body .wrap:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: " ";
      z-index: 998;
      background-image: linear-gradient(to right, transparent 12.5%, rgba(255, 99, 71, 0.25) 12.5%, rgba(255, 164, 148, 0.25) 87.5%, transparent 87.5%);
      background-size: 4.16667%;
      background-origin: content-box;
      background-clip: content-box;
      background-position: left top; }

/* Grades Section */
.e-grade-list {
  width: 98.95833%;
  float: left;
  margin-left: 0.52083%;
  margin-right: 0.52083%; }
  .e-grade-list::after {
    clear: both;
    content: "";
    display: table; }
  .e-grade-list .e-grade-item {
    width: 19.79167%;
    float: left;
    margin-left: 0.52083%;
    margin-right: 0.52083%;
    margin-bottom: 0.625%; }
    .e-grade-list .e-grade-item:nth-of-type(1) {
      margin-left: 20.10417%; }
    .e-grade-list .e-grade-item:nth-of-type(4n+0) {
      margin-left: 20.10417%;
      clear: left; }
    @media (max-width: 720px) {
      .e-grade-list .e-grade-item {
        width: 32.29167%;
        float: left;
        margin-left: 0.52083%;
        margin-right: 0.52083%; }
        .e-grade-list .e-grade-item:nth-of-type(1n + 1) {
          margin-left: 0.52083%; } }
    @media (max-width: 480px) {
      .e-grade-list .e-grade-item {
        width: 48.95833%;
        float: left;
        margin-left: 0.52083%;
        margin-right: 0.52083%; }
        .e-grade-list .e-grade-item:nth-of-type(1n + 1) {
          margin-left: 0.52083%;
          clear: none; } }

/* Grades Section End */
/* Blog Section */
/* Tells Susy there's 8 columns in the blog */
.social-section .c-facebook {
  width: 63.54167%;
  float: left;
  margin-left: 0.52083%;
  margin-right: 0.52083%; }

.social-section .c-instagram {
  width: 30.20833%;
  float: left;
  margin-left: 0.52083%;
  margin-right: 0.52083%;
  margin-left: 4.6875%; }

/* Tells Susy there's 4 columns in the sidebar, and its the last item on the row. */
/* 10 column grid for the social */
.social::after {
  clear: both;
  content: "";
  display: table; }

.social .social__list-item {
  width: 17.5%;
  float: left;
  margin-bottom: 1.25%; }
  .social .social__list-item:nth-child(5n + 1) {
    margin-left: 1.25%;
    margin-right: -100%;
    clear: both; }
  .social .social__list-item:nth-child(5n + 2) {
    margin-left: 21.25%;
    margin-right: -100%;
    clear: none; }
  .social .social__list-item:nth-child(5n + 3) {
    margin-left: 41.25%;
    margin-right: -100%;
    clear: none; }
  .social .social__list-item:nth-child(5n + 4) {
    margin-left: 61.25%;
    margin-right: -100%;
    clear: none; }
  .social .social__list-item:nth-child(5n + 5) {
    margin-left: 81.25%;
    margin-right: -100%;
    clear: none; }
  @media (min-width: 720px) {
    .social .social__list-item {
      width: 7.5%;
      float: left;
      margin-bottom: 0; }
      .social .social__list-item:nth-child(10n + 1) {
        margin-left: 1.25%;
        margin-right: -100%;
        clear: both; }
      .social .social__list-item:nth-child(10n + 2) {
        margin-left: 11.25%;
        margin-right: -100%;
        clear: none; }
      .social .social__list-item:nth-child(10n + 3) {
        margin-left: 21.25%;
        margin-right: -100%;
        clear: none; }
      .social .social__list-item:nth-child(10n + 4) {
        margin-left: 31.25%;
        margin-right: -100%;
        clear: none; }
      .social .social__list-item:nth-child(10n + 5) {
        margin-left: 41.25%;
        margin-right: -100%;
        clear: none; }
      .social .social__list-item:nth-child(10n + 6) {
        margin-left: 51.25%;
        margin-right: -100%;
        clear: none; }
      .social .social__list-item:nth-child(10n + 7) {
        margin-left: 61.25%;
        margin-right: -100%;
        clear: none; }
      .social .social__list-item:nth-child(10n + 8) {
        margin-left: 71.25%;
        margin-right: -100%;
        clear: none; }
      .social .social__list-item:nth-child(10n + 9) {
        margin-left: 81.25%;
        margin-right: -100%;
        clear: none; }
      .social .social__list-item:nth-child(10n + 10) {
        margin-left: 91.25%;
        margin-right: -100%;
        clear: none; } }

.unsocial {
  margin-top: 1.25%; }
  .unsocial::after {
    clear: both;
    content: "";
    display: table; }
  .unsocial .unsocial__list-item {
    width: 31.25%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%; }
    .unsocial .unsocial__list-item::after {
      clear: both;
      content: "";
      display: table; }
    @media (max-width: 480px) {
      .unsocial .unsocial__list-item {
        width: 48.95833%;
        float: left;
        margin-left: 0.52083%;
        margin-right: 0.52083%;
        margin-bottom: 1.25%; } }

/* Blog Section End */
@font-face {
  font-family: 'Josefin Sans', sans-serif;
  src: url("/static/resorts/fonts/Josefin_Sans/josefinsans-bold-webfont.eot");
  src: url("/static/resorts/fonts/Josefin_Sans/josefinsans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/static/resorts/fonts/Josefin_Sans/josefinsans-bold-webfont.woff") format("woff"), url("/static/resorts/fonts/Josefin_Sans/josefinsans-bold-webfont.ttf") format("truetype"), url("/static/resorts/fonts/Josefin_Sans/josefinsans-bold-webfont.svg#webfont") format("svg"); }

@font-face {
  font-family: 'icomoon';
  src: url("/static/resorts/fonts/icomoon/icomoon.eot?uzcu4s");
  src: url("/static/resorts/fonts/icomoon/icomoon.eot?uzcu4s#iefix") format("embedded-opentype"), url("/static/resorts/fonts/icomoon/icomoon.ttf?uzcu4s") format("truetype"), url("/static/resorts/fonts/icomoon/icomoon.woff?uzcu4s") format("woff"), url("/static/resorts/fonts/icomoon/icomoon.svg?uzcu4s#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.c-typography-default {
  hyphens: auto;
  font-family: Josefin Sans, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none; }

.c-typography-header-1 {
  hyphens: auto;
  font-family: Josefin Sans, sans-serif;
  font-size: 70px;
  line-height: 72px;
  word-break: normal; }
  @media screen and (max-width: 529px) {
    .c-typography-header-1 {
      font-size: 40px;
      line-height: 44px; } }

.c-typography-header-2 {
  hyphens: auto;
  font-family: Josefin Sans, sans-serif;
  font-size: 50px;
  line-height: 52px; }
  @media screen and (max-width: 529px) {
    .c-typography-header-2 {
      font-size: 32px;
      line-height: 36px; } }

.c-typography-header-3 {
  hyphens: auto;
  font-family: Josefin Sans, sans-serif;
  font-size: 40px;
  line-height: 44px; }
  @media screen and (max-width: 529px) {
    .c-typography-header-3 {
      font-size: 26px;
      line-height: 30px; } }

.c-typography-header-4 {
  hyphens: auto;
  font-family: Josefin Sans, sans-serif;
  font-size: 26px;
  line-height: 30px; }
  @media screen and (max-width: 529px) {
    .c-typography-header-4 {
      font-family: Josefin Sans, sans-serif;
      font-size: 18px;
      line-height: 25px; } }

.c-typography-header-5 {
  hyphens: auto;
  font-family: Josefin Sans, sans-serif;
  font-size: 18px;
  line-height: 25px; }

.c-typography-intro {
  hyphens: auto;
  font-family: Josefin Sans, sans-serif;
  font-size: 22px;
  line-height: 32px; }
  @media screen and (max-width: 529px) {
    .c-typography-intro {
      font-size: 16px;
      line-height: 24px; } }

.c-typography-paragraph {
  hyphens: auto;
  font-family: Josefin Sans, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none; }

.hidden {
  visibility: hidden;
  height: 0; }

.signup-box {
  width: 69%;
  margin: 50px auto;
  display: inline-block;
  font-family: sans-serif; }
  .signup-box font
.signup-box-body {
    padding: 20px; }
  .signup-box span {
    min-width: 50px;
    padding: 0 10px;
    display: inline-block;
    color: #333;
    background-color: #ff0; }
    .signup-box span:hover {
      background-color: #00e6b8; }
    .signup-box span:empty {
      background-color: #FF530D; }
  .signup-box p {
    margin: 0 0 25px 0;
    color: #fff;
    hyphens: auto;
    font-family: Josefin Sans, sans-serif;
    font-size: 40px;
    line-height: 39px; }
    @media screen and (max-width: 529px) {
      .signup-box p {
        font-size: 26px;
        line-height: 27px; } }
  .signup-box #submit {
    width: 100%;
    height: 50px;
    border: 2px solid #fff;
    color: #333;
    background-color: #fff;
    hyphens: auto;
    font-family: Josefin Sans, sans-serif;
    font-size: 26px;
    line-height: 30px; }
    @media screen and (max-width: 529px) {
      .signup-box #submit {
        font-family: Josefin Sans, sans-serif;
        font-size: 18px;
        line-height: 25px; } }
    .signup-box #submit:hover {
      color: #fff;
      background-color: #0d0d0d; }
  @media screen and (max-width: 719px) {
    .signup-box {
      left: 20px;
      right: auto; }
      .signup-box p {
        text-align: left; } }

html {
  background-image: -webkit-linear-gradient( right , #fff, #f3f3f3);
  background-image: linear-gradient(to left, #fff, #f3f3f3); }

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased; }

ul {
  list-style: none;
  padding: 0;
  overflow: hidden; }

h1, h2, h3, h4, h5, h6, p {
  text-align: center; }

h2 {
  background: aliceblue; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

.grade-section,
.weather-section,
.login-section,
.social-section {
  background-color: rgba(255, 140, 0, 0.2);
  height: 100vh; }
  .grade-section::after,
  .weather-section::after,
  .login-section::after,
  .social-section::after {
    clear: both;
    content: "";
    display: table; }

/* GRADE SECTION START */
.grade-section {
  padding-top: 165px;
  margin-bottom: 50px; }
  .grade-section .section-grades-image {
    width: 100%;
    height: calc(100% + 50px);
    position: absolute;
    top: 0;
    background-image: url(/static/resorts/images/bg.jpg);
    background-size: cover; }
  @media screen and (max-width: 479px) {
    .grade-section {
      height: 140vh; }
      .grade-section .section-grades-image {
        height: 140vh; } }

/* GRADE SECTION END */
/* SOCIAL SECTION START */
.social-section {
  font-size: 0; }

/* SOCIAL SECTION END */
/* LOGIN SECTION START */
.login-section {
  margin: 175px 0 50px 0;
  height: auto;
  /* form input fields */ }
  .login-section .wrap {
    height: 100%;
    padding-left: 75px;
    position: relative;
    background-color: #333; }
    @media screen and (max-width: 719px) {
      .login-section .wrap {
        padding-left: 25px; } }
  .login-section .signup-wrap {
    display: inline; }
  .login-section #username,
  .login-section #email,
  .login-section #first_name,
  .login-section #last_name,
  .login-section #password1,
  .login-section #password2 {
    max-height: 40px;
    overflow: hidden; }
  .login-section #username {
    max-width: 110px; }
  .login-section #email {
    max-width: 325px; }
  .login-section #first_name,
  .login-section #last_name {
    max-width: 115px; }
  .login-section #password1,
  .login-section #password2 {
    max-width: 150px; }
  @media screen and (max-width: 529px) {
    .login-section #username,
    .login-section #email,
    .login-section #first_name,
    .login-section #last_name,
    .login-section #password1,
    .login-section #password2 {
      max-height: 27px; } }

/* LOGIN SECTION END */
.c-page-header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50; }
  .c-page-header .container {
    width: 100%;
    position: relative;
    text-align: center; }
  .c-page-header .e-logo {
    width: 50px;
    margin: 25px 0 0 25px;
    display: inline-block;
    float: left; }
  .c-page-header .e-menu-list {
    font-size: 0; }
  .c-page-header .e-menu-title {
    color: #fff;
    hyphens: auto;
    font-family: Josefin Sans, sans-serif;
    font-size: 50px;
    line-height: 52px; }
    @media screen and (max-width: 529px) {
      .c-page-header .e-menu-title {
        font-size: 32px;
        line-height: 36px; } }
    .c-page-header .e-menu-title span:hover {
      -webkit-animation: colorChange 0.5s ease-out;
      -moz-animation: colorChange 0.5s ease-out;
      animation: colorChange 0.5s ease-out;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }

@-webkit-keyframes colorChange {
  from {
    color: #fff; }
  to {
    color: #333; } }

@-moz-keyframes colorChange {
  from {
    color: #fff; }
  to {
    color: #333; } }

@keyframes colorChange {
  from {
    color: #fff; }
  to {
    color: #333; } }
  .c-page-header i {
    display: block; }
  .c-page-header .icn__wrap {
    width: 58px;
    height: 58px;
    position: relative;
    margin: 0 20px 0 -20px;
    display: inline-block;
    float: left;
    cursor: pointer; }
  .c-page-header .icn__hamburger {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-6px);
    -ms-transform: translateX(-50%) translateY(-6px);
    transform: translateX(-50%) translateY(-6px);
    display: block;
    width: 18px;
    height: 1px;
    z-index: 999;
    background: #fff; }
    .c-page-header .icn__hamburger::before, .c-page-header .icn__hamburger::after {
      content: "";
      float: left;
      display: block;
      width: 100%;
      height: 1px;
      background: #fff;
      margin: 5px 0 0; }
    .c-page-header .icn__hamburger::before {
      margin: 6px 0 0 0; }
  .c-page-header svg circle {
    fill: none;
    stroke: #fff;
    stroke-width: .5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 39 39;
    stroke-dashoffset: 39;
    -webkit-transition: stroke-dashoffset 0.5s;
    transition: stroke-dashoffset 0.5s; }
  .c-page-header .e-menu-title.animated .border-bottom {
    right: 100%;
    left: 4px; }
  .c-page-header .e-menu-title.animated svg circle {
    stroke-dashoffset: 0;
    -webkit-transition: stroke-dashoffset 0.5s;
    transition: stroke-dashoffset 0.5s; }
  .c-page-header .e-menu-title.fix .border-bottom {
    -webkit-animation: fix 0.5s linear;
    animation: fix 0.5s linear;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    left: 5px; }

@-webkit-keyframes fix {
  from {
    left: 5px; }
  to {
    left: 0; } }

@-moz-keyframes fix {
  from {
    left: 5px; }
  to {
    left: 0; } }

@keyframes fix {
  from {
    left: 5px; }
  to {
    left: 0; } }
  .c-page-header .border-bottom {
    height: 2px;
    margin-right: 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6px;
    background: #fff;
    -webkit-transition: right 0.5s;
    transition: right 0.5s; }
  .c-page-header .e-menu-item {
    position: relative;
    margin: 0;
    display: none;
    hyphens: auto;
    font-family: Josefin Sans, sans-serif;
    font-size: 40px;
    line-height: 44px;
    background-color: transparent;
    cursor: hand;
    cursor: pointer;
    z-index: 600; }
    @media screen and (max-width: 529px) {
      .c-page-header .e-menu-item {
        font-size: 26px;
        line-height: 30px; } }
    .c-page-header .e-menu-item a, .c-page-header .e-menu-item span {
      padding: 10px 25px 10px 0;
      text-decoration: none;
      color: #fff; }
    .c-page-header .e-menu-item span {
      vertical-align: bottom;
      line-height: 24px; }
    .c-page-header .e-menu-item.e-menu-title {
      display: inline-block; }
    .c-page-header .e-menu-item.is-active {
      display: inline-block;
      color: #fff;
      background-color: #000; }
  .c-page-header .e-action-container {
    display: inline-block; }
  .c-page-header .log-in {
    display: inline-block; }
  .c-page-header .log-out {
    display: inline-block; }
  .c-page-header .sign-up {
    display: inline-block; }

.c-close-button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -35px;
  right: 30px;
  background-color: #267F7F;
  z-index: 10; }
  .c-close-button .close-item {
    text-align: center;
    text-decoration: none; }
    .c-close-button .close-item span {
      display: block;
      overflow: hidden;
      position: absolute;
      width: 1px;
      height: 1px;
      text-indent: 10px;
      white-space: nowrap;
      top: 0;
      left: 0; }
    .c-close-button .close-item::before {
      position: absolute;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      vertical-align: bottom;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      font-family: icomoon;
      content: ""; }
    .c-close-button .close-item::before {
      width: 50px;
      height: 50px;
      position: absolute;
      font-size: 28px;
      line-height: 50px;
      color: #000; }
  .c-close-button span {
    width: 50px;
    height: 50px; }

.c-menu-overlay {
  height: 0;
  background-color: rgba(0, 0, 0, 0.64);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500; }
  .c-menu-overlay.is-active {
    height: 100%; }

.c-grades {
  position: relative;
  height: 75vh;
  overflow: hidden; }
  .c-grades .e-grade-list {
    margin-top: 0;
    margin-bottom: 0; }
  .c-grades .e-grade-item {
    height: 37vh;
    padding-top: 25px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff; }
    .c-grades .e-grade-item::before {
      position: absolute;
      width: 1px;
      height: 65%;
      top: 0;
      bottom: auto;
      left: 0;
      content: '';
      background-color: #fff;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      transition-timing-function: linear; }
    .c-grades .e-grade-item::after {
      position: absolute;
      width: 1px;
      height: 25%;
      top: auto;
      bottom: 0;
      left: 0;
      content: '';
      background-color: #fff;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      transition-timing-function: linear; }
    .c-grades .e-grade-item:hover::before {
      position: absolute;
      width: 1px;
      height: 25%;
      top: 0;
      left: 0;
      content: '';
      background-color: #fff; }
    .c-grades .e-grade-item:hover::after {
      position: absolute;
      width: 1px;
      height: 65%;
      bottom: 0;
      left: 0;
      content: '';
      background-color: #fff; }
  .c-grades .grade-image {
    width: 45%;
    margin: auto; }
  @media screen and (max-width: 479px) {
    .c-grades {
      height: 112vh; } }

.c-weather {
  height: 50vh;
  background-color: rgba(232, 189, 0, 0.7); }

.c-facebook {
  height: 75vh;
  display: inline-block;
  background-color: rgba(232, 189, 255, 0.7);
  vertical-align: bottom; }

.c-instagram {
  height: 75vh;
  display: inline-block;
  background-color: rgba(132, 189, 0, 0.7);
  vertical-align: bottom; }

.c-side-pattern {
  width: 50px;
  height: 100%;
  position: absolute;
  right: 0;
  float: right;
  background-color: #333; }
  .c-side-pattern rect {
    fill: #333; }
