
.c-page-header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba($color-black, 0.4);
  z-index: $z-50;

  .container {
    width: 100%;
    position: relative;
    text-align: center;
  }

  .e-logo {
    width: 50px;
    margin: 25px 0 0 25px;
    display: inline-block;
    float: left;
  }

  .e-menu-list {
    font-size: 0;
  }

  .e-menu-title {
    color: $color-white;
    @include typography-header-2();

    span {
      &:hover {
        @include animation(colorChange 0.5s ease-out);
        @include animation-fill-mode(forwards);
      }
    }
  }

  @include keyframes(colorChange) {
    from {
      color: $color-white;
    }
    to {
      color: $color-secondary-black;
    }
  }

  // title animating svg
  i {
    display: block;
  }

  .icn__wrap {
    width: 58px;
    height: 58px;
    position: relative;
    margin: 0 20px 0 -20px;
    display: inline-block;
    float: left;
    cursor: pointer;
  }

  .icn__hamburger {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-6px);
    -ms-transform: translateX(-50%) translateY(-6px);
    transform: translateX(-50%) translateY(-6px);
    //@include transform(translateX(-50%) translateY(-6px));
    display: block;
    width: 18px;
    height: 1px;
    z-index: 999;
    background: #fff;

    &::before,
    &::after {
      content: "";
      float: left;
      display: block;
      width: 100%;
      height: 1px;
      background: $color-white;
      margin: 5px 0 0;
    }

    &::before {
      margin: 6px 0 0 0;
    }
  }

  svg circle {
    fill: none;
    stroke: #fff;
    stroke-width: .5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 39 39;
    stroke-dashoffset: 39;
    -webkit-transition: stroke-dashoffset 0.5s;
    transition: stroke-dashoffset 0.5s;
  }

  .e-menu-title.animated {
    .border-bottom {
      right: 100%;
      left: 4px;
    }

    svg circle {
      stroke-dashoffset: 0;
      -webkit-transition: stroke-dashoffset 0.5s;
      transition: stroke-dashoffset 0.5s;
    }
  }

  .e-menu-title.fix {
    .border-bottom {
      -webkit-animation: fix 0.5s linear;
      animation: fix 0.5s linear;
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      left: 5px;
    }
  }

  @include keyframes(fix) {
    from {
      left: 0;
    }
    to {
      left: 5px;
    }
  }

  .border-bottom {
    height: 2px;
    margin-right: 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6px;
    background: #fff;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
  }
  // title animating svg end

  .e-menu-item {
    position: relative;
    margin: 0;
    display: none;
    @include typography-header-3;
    background-color: transparent;
    cursor: hand;
    cursor: pointer;
    z-index: $z-menu;

    a,span {
      padding: 10px 25px 10px 0;
      text-decoration: none;
      color: $color-white;
    }

    span {
      vertical-align: bottom;
      line-height: 24px;
    }

    &.e-menu-title {
      display: inline-block;
    }

    &.is-active {
      display: inline-block;
      color: $color-white;
      background-color: $color-black;
    }
  }

  .e-action-container {
    display: inline-block;
  }

  .log-in {
    display: inline-block;
  }

  .log-out {
    display: inline-block;
  }

  .sign-up {
    display: inline-block;
  }
}