{% extends 'resorts/base.html' %}

{% load staticfiles %}
{#{% block title %} A Resort {% endblock %}#}

{% block content %}
    <section class="grade-section clearfix">
        <div class="section-grades-image">

        </div>
        <div class="wrap">
            <div class="c-grades">
                <ul class="e-grade-list">
                    <li class="e-grade-item">
                        <img src="{% static 'resorts/images/snowflake.svg' %}" alt="snowflake" class="grade-image">
                        <h4 class="grade-description">some description</h4>
                        <h3>6/12</h3>
                    </li>

                    <li class="e-grade-item">
                        <img src="{% static 'resorts/images/snowflake.svg' %}" alt="snowflake" class="grade-image">
                        <h4 class="grade-description">some description</h4>
                        <h3>6/12</h3>
                    </li>

                    <li class="e-grade-item">
                        <img src="{% static 'resorts/images/snowflake.svg' %}" alt="snowflake" class="grade-image">
                        <h4 class="grade-description">some description</h4>
                        <h3>6/12</h3>
                    </li>

                    <li class="e-grade-item">
                        <img src="{% static 'resorts/images/snowflake.svg' %}" alt="snowflake" class="grade-image">
                        <h4 class="grade-description">some description</h4>
                        <h3>6/12</h3>
                    </li>

                    <li class="e-grade-item">
                        <img src="{% static 'resorts/images/snowflake.svg' %}" alt="snowflake" class="grade-image">
                        <h4 class="grade-description">some description</h4>
                        <h3>6/12</h3>
                    </li>

                    <li class="e-grade-item">
                        <img src="{% static 'resorts/images/snowflake.svg' %}" alt="snowflake" class="grade-image">
                        <h4 class="grade-description">some description</h4>
                        <h3>6/12</h3>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="weather-section clearfix">
        <div class="wrap">
            <div class="c-weather">

            </div>
        </div>
    </section>

    <section class="social-section clearfix">
        <div class="wrap">
            <div class="c-facebook">

            </div>
            <div class="c-instagram">

            </div>
        </div>
    </section>

    <footer class="c-page-footer">

    </footer>
{% endblock %}