
@font-face{
	font-family: 'Josefin Sans', sans-serif;
	src: url('/static/resorts/fonts/Josefin_Sans/josefinsans-bold-webfont.eot');
	src: url('/static/resorts/fonts/Josefin_Sans/josefinsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/static/resorts/fonts/Josefin_Sans/josefinsans-bold-webfont.woff') format('woff'),
	     url('/static/resorts/fonts/Josefin_Sans/josefinsans-bold-webfont.ttf') format('truetype'),
	     url('/static/resorts/fonts/Josefin_Sans/josefinsans-bold-webfont.svg#webfont') format('svg');
}

// icon font
@font-face{
    font-family: 'icomoon';
    src:    url('/static/resorts/fonts/icomoon/icomoon.eot?uzcu4s');
    src:    url('/static/resorts/fonts/icomoon/icomoon.eot?uzcu4s#iefix') format('embedded-opentype'),
        url('/static/resorts/fonts/icomoon/icomoon.ttf?uzcu4s') format('truetype'),
        url('/static/resorts/fonts/icomoon/icomoon.woff?uzcu4s') format('woff'),
        url('/static/resorts/fonts/icomoon/icomoon.svg?uzcu4s#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

// letter-spacing?

$font-josefin-bold: Josefin Sans, sans-serif;
//$font-campton-medium: Campton Medium, sans-serif;
//$font-campton-semibold: Campton SemiBold, sans-serif;

$font-base  : "Helvetica Neue", "Helvetica", "Arial", sans-serif;
