
@mixin typography-default($line-height:24px 24px) {
  hyphens: auto;
  font-family: $font-josefin-bold;
  font-size: 16px;
  line-height: nth($line-height, 1);
  text-decoration: none;
  text-transform: none;
}

@mixin typography-science-museum {
  hyphens: auto;
  font-family: $font-josefin-bold;
  font-size: 50px;
  line-height: 52px;
  text-transform: uppercase;
}

@mixin typography-header-1 {
  hyphens: auto;
  font-family: $font-josefin-bold;
  font-size: 70px;
  line-height: 72px;
  word-break: normal;

  @include below(530px) {
    font-size: 40px;
    line-height: 44px;
  }
}

@mixin typography-header-2 {
  hyphens: auto;
  font-family: $font-josefin-bold;
  font-size: 50px;
  line-height: 52px;

  @include below(530px) {
    font-size: 32px;
    line-height: 36px;
  }
}

@mixin typography-header-3($line-height: 44px 30px) {
  hyphens: auto;
  font-family: $font-josefin-bold;
  font-size: 40px;
  line-height: nth($line-height, 1);

  @include below(530px) {
    font-size: 26px;
    line-height: nth($line-height, 2);
  }
}

@mixin typography-header-4($line-height:30px 25px) {
  hyphens: auto;
  font-family: $font-josefin-bold;
  font-size: 26px;
  line-height: nth($line-height, 1);

  @include below(530px) {
    font-family: $font-josefin-bold;
    font-size: 18px;
    line-height: nth($line-height, 2);
  }
}

@mixin typography-header-5 {
  hyphens: auto;
  font-family: $font-josefin-bold;
  font-size: 18px;
  line-height: 25px;
}

@mixin typography-intro {
  hyphens: auto;
  font-family: $font-josefin-bold;
  font-size: 22px;
  line-height: 32px;

  @include below(530px) {
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin typography-paragraph {
  @include typography-default;
}

@mixin typography-button {
  font-family: $font-josefin-bold;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
}

@mixin typography-label {
  font-family: $font-josefin-bold;
  font-size: 14px;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
}

@mixin typography-caption {
  @include typography-paragraph;
  font-family: $font-josefin-bold;
}

.c-typography-default {
  @include typography-default;
}

.c-typography-header-1 {
  @include typography-header-1;
}

.c-typography-header-2 {
  @include typography-header-2;
}

.c-typography-header-3 {
  @include typography-header-3;
}

.c-typography-header-4 {
  @include typography-header-4;
}

.c-typography-header-5 {
  @include typography-header-5;
}

.c-typography-intro {
  @include typography-intro;
}

.c-typography-paragraph {
  @include typography-paragraph;
}