
.c-grades {
  @include mobile {
    position: relative;
    height: 75vh;
    overflow: hidden;

    .e-grade-list {
      margin-top: 0;
      margin-bottom: 0;

      .e-grade-item {
        height: 37vh;
        padding-top: 25px;
        background-color: rgba(255,255,255,0.2);
        text-align: center;

        .grade-image {
          width: 45%;
          margin: auto;
        }
        .grade-description {

        }
      }
    }
  }

  @include below($breakpoint-mobile) {
    height: 112vh;
  }

  @include tablet {
    //
  }

  @include desktop {
    //
  }
}