
html {
    @include background-image(linear-gradient(to left,#fff, #f3f3f3));
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6,p {
  text-align: center;
}

h2 {
  background: aliceblue;
}

.clearfix {
  @include clearfix;
}

.grade-section,
.weather-section,
.login-section {
  @include clearfix;
  background-color: rgba(darkorange, 0.2);
  height: 100vh;
}

/* GRADE SECTION START */
.grade-section {
  padding-top: 165px;
  margin-bottom: 50px;

  .section-grades-image {
    width: 100%;
    height: calc(100% + 50px);
    position: absolute;
    top: 0  ;
    background-image: url(/static/resorts/images/bg.jpg);
    background-size: cover;
  }

  @include below($breakpoint-mobile) {
    height: 140vh;

    .section-grades-image {
      height: 140vh;
    }
  }
}
/* GRADE SECTION END */

/* LOGIN SECTION START */
.login-section {
  margin: 175px 0 50px 0;
  height: auto;

  .wrap {
    height: 100%;
    padding-left: 75px;
    position: relative;
    background-color: orangered;

    @include below($breakpoint-tablet) {
      padding-left: 25px;
    }
  }

  .signup-wrap {
    display: inline;
  }

}
/* LOGIN SECTION END */