
.c-page-header {
  width: 100%;
  position: fixed;
  z-index: 9999;

  .container {
    width: 100%;
    padding: 25px;
    position: relative;
    text-align: center;

    .e-logo {
      width: 50px;
      display: inline-block;
      float: left;
    }

    .e-header-title {
      display: inline-block;
      margin: 0;
      padding: 10px 75px;
      border: 1px solid $color-secondary-black;
      @include typography-header-3;
      @include prefix-icon($icon-circle-down)
    }

    .e-action-container {
      display: inline-block;

      .log-in {
        display: inline-block;
      }

      .log-out {
        display: inline-block;
      }

      .sign-up {
        display: inline-block;
      }
    }
  }
}