
.c-page-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: $z-50;

  .container {
    width: 100%;
    position: relative;
    text-align: center;
  }

  .e-logo {
    width: 50px;
    margin: 25px 0 0 25px;
    display: inline-block;
    float: left;
  }

  .e-menu-list {
    font-size: 0;
  }

  .e-menu-title {
    border: 1px solid $color-secondary-black;
    color: $color-white;
    @include prefix-icon($icon-circle-down);

    &::before {
      margin: 0 10px 0 25px;
      font-size: 25px;
      line-height: 40px;
    }

    &:hover {
      color: $color-white;
      background-color: $color-black;
    }
  }


  .e-menu-item {
    position: relative;
    margin: 0;
    display: none;
    @include typography-header-3;
    background-color: transparent;
    cursor: hand;
    cursor: pointer;
    z-index: $z-menu;

    a,span {
      padding: 10px 25px 10px 0;
      text-decoration: none;
      color: $color-white;

    }

    &.e-menu-title {
      display: inline-block;
    }

    &.is-active {
      display: inline-block;
      color: $color-white;
      background-color: $color-black;
    }
  }

  .e-action-container {
    display: inline-block;
  }

  .log-in {
    display: inline-block;
  }

  .log-out {
    display: inline-block;
  }

  .sign-up {
    display: inline-block;
  }
}