
$icon-twitter: '\e909';
$icon-instagram: '\e908';
$icon-cross: '\e900';
$icon-play3: '\e901';
$icon-circle-up: '\e902';
$icon-circle-right: '\e903';
$icon-circle-down: '\e904';
$icon-circle-left: '\e905';
$icon-mail2: '\e906';
$icon-facebook2: '\e907';

@mixin img-replace {
  display: block;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  text-indent: 10px;
  white-space: nowrap;
  top: 0;
  left: 0;
//font-size: 0;
//line-height: 0;
//text-shadow: none;
//color: transparent;
}


// this is to display an icon instead of text
@mixin text-to-icon($pua) {
  span {
    @include img-replace;
  }
  &:before {
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: icomoon;
    content: "#{$pua}";
  }
}

// this is to display an icon in front of a label
@mixin prefix-icon($pua) {
  &:before {
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: icomoon;
    content: "#{$pua}";
  }
}
// this is to display an icon after of a label
@mixin postfix-icon($pua) {
  &:after {
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: icomoon;
    content: " #{$pua}";
  }
}
