{% extends 'resorts/base.html' %}
{% block title %}My heading{% endblock %}

{% block content %}
    <header class="c-page-header">

    </header>

    <section>
        <div class="wrap">
            <div class="c-grades">
                <ul class="e-grade-list">
                    <li class="e-grade-item"><p>6/12</p></li>
                    <li class="e-grade-item"><p>6/12</p></li>
                    <li class="e-grade-item"><p>6/12</p></li>
                    <li class="e-grade-item"><p>6/12</p></li>
                    <li class="e-grade-item"><p>6/12</p></li>
                    <li class="e-grade-item"><p>6/12</p></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="weather">

    </section>

    <footer class="c-page-footer">

    </footer>
{% endblock %}