{% extends 'resorts/base.html' %}

{% load staticfiles %}
{#{% block title %} A Resort {% endblock %}#}

{% block content %}
    <header class="c-page-header">
        <div class="container">
            <img src="{% static 'resorts/images/logo.svg' %}" alt="" class="e-logo">
            <h1 class="e-header-title">A Resort</h1>
            <ul class="e-action-container">
                <li class="log-in"></li>
                <li class="log-out"></li>
                <li class="sign-up"></li>
            </ul>
        </div>
    </header>


    <section class="login-section">
        <div class="wrap">
            <div class="c-close-button">
                <a class="close-item" href="index.html">
                    <span>close</span>
                </a>
            </div>
            <span class="c-side-pattern">
                <svg height="100%" width="100%" style="float:left" class="pattern-swatch">
                    <rect class="pattern-tile" style="fill: url(#pattern-3) #fff;" x="0" y="0" height="100%" width="100%"></rect>
                </svg>
            </span>
        </div>
    </section>
    <footer class="c-page-footer">

    </footer>
{% endblock %}